.titleContainer {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.date-author {
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
}

.date-author p {
    margin-right: 20px;
    margin-left: 10px;
}

.content {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    width: 1200px;
    height: 700px;
    border-color: #000;
    background-color: white;
    border-radius: 6px;
}

.deleteButton {
    border: none;
    background-color: #080665;
    width: 125px;
    height: 35px;
    color: white;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 14px;
    border-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.content img {
  width: 600px;
  height: 200px;
  margin-top: 20px; /* 이미지 위 여백 조절 */
  margin-bottom: 20px;
}