.h2 {
    font-weight :bold;
    color: #080665;
}
.post {
    border : none;
    background-color: #080665;
    width: 125px;
    height: 35px;
    color: white;
    margin-left: 1100px;
    margin-top: 50px;
    font-size: 14px;
}
.Community {
    width: 900px;
    height: 120px;
    margin-left: 325px;
    margin-top: 50px;
}
.title { 
    
   
}
.content {
    
}