.h2 {
    margin-top: 100px;
    font-size: 60px;
    font-family: var(--font-NotoSansKRbold);
    text-align: center;
}

.p {
    font-size: 30px;
    text-align: center;
    margin-left: -10px;
    font-family: var(--font-NotoSansKRmeid);
}

.search{
    width: 500px;
    height: 50px;
    color: black;
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 6px;
    text-align: center;
}

.newPost {
    border: none;
    background-color: #080665;
    width: 280px;
    height: 70px;
    color: white;
    margin-left: 2070px;
    margin-bottom: 50px;
    font-size: 30px;
    border-radius: 6px;
    text-align: center;
}

table {
    width: 2000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #444444;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
thead{
    height: 120px;
    font-family: var(--font-NotoSansKRbold);
    font-size: 1.5rem;
}

tbody{
    font-family: var(--font-NotoSansKRmeid);
    font-size: 1.3rem;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    table-layout: fixed;
}

td{
    height: 130px;
}

tbody tr:hover {
    background-color: rgb(219, 219, 219);
    transition: background-color 0.7s;
}

.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .nextButton button {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #444444;
    border-style: solid;
    border-width: 1px;
    border-color: #9d9d9d;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .nextButton button.active {
    background-color: #7271c6;
    color: white;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }
