.titleContainer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.titleInput {
    display: block;
    width: 100%;
    max-width: 1800px;
    height: 50px;
    border-radius: 6px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #444444;
}

.contentInput{
    display: block;
    width: 1800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #444444;
    border-radius: 6px;
}

.limit{
    margin-top: 50px;
    margin-left: 2100px;

}

.comButton {
    border: none;
    background-color: #080665;
    width: 125px;
    height: 35px;
    color: white;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    border-radius: 6px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px; /* 사이를 넓히는 값 설정 */
  }
  

.munimg::file-selector-button {
    background-color: #8e8dcd;
    width: 125px;
    height: 35px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.munimg[type="file"] {
    width: 520px;
}