.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.titleInput {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 50px;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #444444;
}

.qleditor {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.comButton {
    border: none;
    background-color: #080665;
    width: 125px;
    height: 35px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    border-radius: 6px;
}

@media (max-width: 1920px) {
    .titleInput {
        width: 90%;
    }

    .qleditor {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .titleInput {
        width: 100%;
    }

    .qleditor {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .titleContainer {
        flex-direction: column;
    }

    .titleInput {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .qleditor {
        width: 95%;
    }

    .comButton {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .titleInput {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .qleditor {
        width: 100%;
    }
}
