.line{
    display: block;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    width: 970px;
    height: 1100px;
    border-color: #000;
    border-radius: 7px;
}
.title{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-NotoSansKRExbold);
    font-size: 100px;
}

.parentDiv {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 40px;
    width: auto;
    height: 120px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: none;
    background-color: white;
    color:dimgray;
}

.Google-Logo{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.parentDiv .button {
    color: black; /* 원하는 색상으로 변경 */
    font-size: 30px; /* 원하는 크기로 변경 */
    font-family: var(--font-NotoSansKRExmeid);
  }
  

.onerow {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.defaultImage {
    margin-left: 230px;
    width: 300px; /* 원의 지름 크기 */
    height: 300px; /* 원의 지름 크기 */
    border-radius: 50%; /* 원 형태로 설정 */
    object-fit: cover; /* 이미지가 원 안에 꽉 차도록 설정 */
    overflow: hidden; /* 이미지가 원을 벗어나지 않도록 설정 */
    border: 1px solid #000; /* 테두리 라인 설정 */
    margin-right: 80px;
}

.logimg::file-selector-button {
    background-color: #8e8dcd;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.logimg[type="file"] {
    margin-top: 130px;
    width: auto;
    font-size: 26px;
    color: dimgray;
}

.divCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nowlogin{
    margin-top: 210px;
    font-size: 40px;
    font-family: var(--font-NotoSansKRExmeid);
    font-weight: 557;
}

.buttons{
    margin-top: 430px;
    display: flex;
    justify-content: center;
}

.logout{
    border: none;
    background-color: #080665;
    width: 210px;
    height: 70px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-family: var(--font-NotoSansKRExmeid);
    margin-right: 100px;
}

.signout{
    border: none;
    background-color: #080665;
    width: 210px;
    height: 70px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-family: var(--font-NotoSansKRExmeid);
}