.title {
    margin-top: 100px;
    text-align: center;
}
h2{
    font-size: 60px;
    font-family: var(--font-NotoSansKRbold);
}
.no{
    margin-top: 30px;
    margin-left: -10px;
    font-size: 30px;
    font-family: var(--font-NotoSansKRmeid);
}
.animalname{
    margin-left: auto;
    margin-right: auto;
}
.doggimge{
    width: 300px;
    height: 250px;
    margin: 100px;
    border-radius: 6%;
}
.animallist {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  .animallist li {
    display: inline-block;
    position: relative;
  }
.kind{
    margin-left: 200px;
    font-family :Arial, Helvetica, sans-serif;
}
.sex{
    display: flex;
    margin-left: 240px;
    font-family :Arial, Helvetica, sans-serif;
}
.pageNo {
    margin-top: 100px;
    margin-left: 1200px;
    font-size: 27px;
    font-family: var(--font-NotoSansKRmeid);
}